<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="<%= url("/css/style.css") %>">
    <link rel="icon" type="image/png" href="<%= url("/img/favicon.png") %>">
</head>
<body>
    <header id="main">
        <div id="header">
            <a href="<%= url("/") %>"><h1 id="logo">Wiki</h1></a>
            <nav id="header">
                <ul>
                    <li><a href="<%= url("#{@path}/edit") %>">Edit</a></li>
                    <li><a href="<%= url("#{@path}/move") %>">Move</a></li>
                    <li><a href="<%= url("#{@path}/delete") %>">Delete</a></li>
                    <li><a href="<%= url("#{@path}/history") %>">History</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main">
        <%= yield %>
    </section>
    <footer id="main">
        <nav id="footer">
            <ul>
                <li><a href="http://daringfireball.net/projects/markdown/">Syntax Guide</a></li>
                <li><a href="http://github.com/fuzyll/wiki/">Source Code</a></li>
                <li><a href="http://fuzyll.com/">Author Contact</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>

