<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= settings.title %></title>
        <base href="<%= settings.base_url %>">
        <script src="js/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="css/skel.min.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/style-xlarge.css">
            <link rel="icon" type="image/png" href="img/favicon.png">
        </noscript>
    </head>
    <body>
        <div id="wrapper">
            <section id="menu" class="skel-layers-fixed">
                <nav id="nav">
                    <ul>
                        <li><a href="read/<%= @path %>">Read</a></li>
                        <li><a href="edit/<%= @path %>">Edit</a></li>
                        <li><a href="move/<%= @path %>">Move</a></li>
                        <li><a href="delete/<%= @path %>">Delete</a></li>
                        <li><a href="history/<%= @path %>">History</a></li>
                    </ul>
                </nav>
            </section>
            <section id="toc" class="skel-layers-fixed">
                <header>
                    <h1 id="title"><a href="read/root"><%= settings.title %></a></h1>
                    <img src="img/logo.png" alt="">
                    <p><%= settings.tagline %></p>
                </header>
                <nav>
                    <ul>
                        <li><a href="list">List of All Pages</a></li>
                        <li><a href="activity">Recent Activity</a></li>
                    </ul>
                    </nav>
                <% if @toc.length > 0 %>
                <nav class="toc">
                    <ul>
                    <% @toc.each do |e| %>
                        <li><a href="read/<%= @path %>#<%= e[:link] %>" class="<%= e[:class] %>"><%= e[:name] %></a></li>
                    <% end %>
                    </ul>
                </nav>
                <% end %>
            </section>
            <section id="page">
                <div class="container">
                    <%= yield %>
                </div>
            </section>
            <section id="footer">
                <div class="container">
                    <ul class="copyright">
                        <li>Content &copy; <%= settings.copyright %>. All rights reserved.</li>
                        <li>Source code available on <a href="http://github.com/fuzyll/wiki/">GitHub</a>.</li>
                    </ul>
                </div>
            </section>
        </div>
    </body>
</html>
